/* ! Resting all default css */
*,*:before,*:after{ box-sizing: border-box; }
/* ! margins */
body, h1, h2, h3, h4, h5, figure, picture, p, div, a{ margin: 0; padding: 0; }
/* ! setting up body */
body{ line-height: 1.5; min-height: 100vh;font-family: 'Poppins';}
/* ! pictures and images */
img, picture{ max-width: 100%; display: block; }
/* ! buttons, inputs fields, selections */
input, button, select, a{ font: inherit; }
@media(prefers-reduced-motion:reduced) {
    *,*:before,*:after {
        animation-duration: 0.1ms!important;
        animation-iteration-count: 1!important;
        transition-duration: 0.01ms!important;
        scroll-behavior:auto!important;
    }
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* starting coustom css  */

body{
    font-family: 'Poppins';
}